<!doctype html>
<html>
    <head>
        <title>Send Email</title>
    </head>
    <body>
       <h1>Send Email!</h1>
       <div class="container">
            <form method="POST" action="/send_email" >
                <p> Send to : <input type="text" name="Address" value="muzuco@netmarble.com" readonly="readonly" /></p>
                <p> Title : <input type="text" name="Title" /></p>
                <p> <textarea rows="4" cols="50" name="Contents"></textarea></p>
                <p><input type="submit" name="Submit" value="SEND" /></p>
            </form>
        </div>
     </body>
</html>